body {
	background: #ECF0F1;
	font-family: Arial;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.header {
	height: 60px;
	background: #F7CA18;
	padding: 10px 20px;
    color: white;
}

.title {
	font-size: 30px;
    float:left;
}

.user {
	float: right;
	display: inline-block;
}

.login {
    text-align: right;
	display: inline-block;
	padding: 10px;
	transition: background .5s ease;
    background: hsla(48, 100%, 44%, 0);
    position: relative;
}

.login:hover {
	background: hsla(48, 100%, 44%, 1);
}

.header-middle { 
   margin: auto;
    max-width: 900px;
}

.main {
	margin: auto;
    padding: 30px;
	max-width: 900px;
}

.login-form {
    position: absolute;
    width:auto;
    right:0;
    padding:10px;
    transition: all 0.5s ease;
    opacity: 0;
    background: hsl(48, 100%, 44%);
}

.login-form input {
    border:none;
    background: #F7CA18;
    padding:5px;
    margin: 2px 0;
}


.login-submit {
    background:  #F7CA18;
    color:white;
    border:none;
    width:100%;
    padding:5px;
}

.login-form input::-webkit-input-placeholder
{
    color:white
}

.login-form input::-moz-placeholder {
    color:white       
}

.login-form input::-ms-input-placeholder
{
    color:white   
}

.login:hover .login-form {
    opacity: 1;
    display:block;
}

.category-list-header {
    background: #F7CA18;
    padding: 15px;
    color: hsl(0, 100%, 100%);
}

.category {
    background: white;
}