body {
	background: #ECF0F1;
	font-family: Arial;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

a {
    text-decoration: none;
    color: hsl(48, 93%, 40%);
}

.header {
	height: 60px;
	background: #F7CA18;
	padding: 10px 20px;
    color: white;
}

.title {
	font-size: 30px;
    float:left;
		color:white;
}

.user {
	float: right;
	display: inline-block;
	position: relative;
}

.login {
    text-align: right;
	display: inline-block;
	padding: 10px;
	transition: background .5s ease;
    background: hsla(48, 100%, 44%, 0);
    position: relative;
}

.login:hover {
	background: hsla(48, 100%, 44%, 1);
}

.header-middle {
   margin: auto;
    max-width: 900px;
}

.main {
	margin: auto;
    padding: 30px;
	max-width: 900px;
}


.user input {
    border:none;
    background: hsla(47,93%,47%,1);
    padding:5px;
    margin: 2px 0;
}


.user input::-webkit-input-placeholder
{
    color:white
}

.user input::-moz-placeholder {
    color:white
}

.user input::-ms-input-placeholder
{
    color:white
}

.category-list-header {
    background: #F7CA18;
    padding: 15px;
    color: hsl(0, 100%, 100%);
}

.category {
    background: white;
    padding: 10px;
    color: hsl(0, 0%, 0%);
    display: block;
}

.category-info {
    display: inline-block;;
}

.category:hover {
    background: hsl(39, 100%, 95%);
}

.category-title {
    font-weight: bold;
}

.category-meta {
    float:right;
}

.category-list + .category-list-header {
	margin-top: 20px;
}
